################################################################################
# Ce fichier .gitignore a été automatiquement créé par Microsoft(R) Visual Studio.
################################################################################

/AboutFractalsApp/AboutFractalsApp.VC.VC.opendb
